/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ng2-slim-loading-bar/bundles/style';

svg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}
